
label {
	font-weight: bold;
  }
  
  input, 
  textarea {
	width: 100%;
	padding: 5px;
  }
  
  #form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	max-width: 500px;
	margin: 0 auto;
  }
  
  #email,
  #mensaje, #submit {
	grid-column: span 2;
  }
  
  .field {
	display: flex;
	flex-direction: column;
  }	
  
  .field p {
	margin: 5px 0;
  }
  .radio-group {
	display: flex;
	align-items: center;
  }
  
  .radio-group label {
	font-weight: normal;
  } 
  

  #submit input[type="submit"] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  #submit input[type="submit"]:hover {
	background-color: #45a049;
  }
  