body {
    margin: 0;
    padding: 0;
}
h1, h2, p{
	font-family:Arial, Helvetica, sans-serif;
}

#cabecero {
	height:auto;
	background-color: #A1C878;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}
#menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#titulo {
	display: flex;
}
#titulo img {
	height: 115px;
}
#menu_pag {
	display: flex;
	width: 20%;
	justify-content: space-between;
}

label {
	font-weight: bold;
  }
  
  input, 
  textarea {
	width: 100%;
	padding: 5px;
  }
  
  #form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	max-width: 500px;
	margin: 0 auto;
  }
  
  #email,
  #mensaje, #submit {
	grid-column: span 2;
  }
  
  .field {
	display: flex;
	flex-direction: column;
  }	
  
  .field p {
	margin: 5px 0;
  }
  .radio-group {
	display: flex;
	align-items: center;
  }
  
  .radio-group label {
	font-weight: normal;
  } 
  

  #submit input[type="submit"] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  #submit input[type="submit"]:hover {
	background-color: #45a049;
  }
  