body {
    margin: 0;
    padding: 0;
}
h1, h2, p{
	font-family:Arial, Helvetica, sans-serif;
}

#cabecero {
    background-color: #A1C878;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
}
#titulo {
	display: flex;
}
#titulo img {
	height: 115px;
}

#menu_pag {
	display: flex;
	width: 20%;
	justify-content: space-between;
}

#titulo_pag {
    text-align: center;
    background-color: #A1C878;
    padding: 20px;
    font-size: 18px;
    color: #000000;
}

.galeria {
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 30px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas en pantallas más pequeñas */
    }

    @media (max-width: 500px) {
        .galeria {
            grid-template-columns: repeat(1, 1fr); /* Cambiar a 1 columna en pantallas aún más pequeñas */
        }
    }
}

.foto {
    justify-content: center;
    text-align: center;
    transition: opacity 0.9s; /* Agregar una transición suave */
}

.foto img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto:hover {
    opacity: 0.8; /* Cambiar la opacidad al hacer hover */
}


.texto_encabezado {
    padding: 20px;
    font-size: 18px;
    color: #000000;
    text-align: center;
}



