body {
    margin: 0;
    padding: 0;
}
h1, h2, p{
	font-family:Arial, Helvetica, sans-serif;
}

#cabecero {
    background-color: #A1C878;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
}
#titulo {
	display: flex;
}
#titulo img {
	height: 115px;
}

#menu_pag {
	display: flex;
	width: 20%;
	justify-content: space-between;
}

#titulo_pag {
    text-align: center;
    background-color: #A1C878;
    padding: 20px;
    font-size: 18px;
    color: #000000;
}

.galeria {
    margin: auto;
    display: grid;
    grid-gap: 20px;
    padding: 30px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas en pantallas más pequeñas */
    }

    @media (max-width: 500px) {
        .galeria {
            grid-template-columns: repeat(1, 1fr); /* Cambiar a 1 columna en pantallas aún más pequeñas */
        }
    }
}

.foto {
    justify-content: center;
    text-align: center;
    transition: opacity 0.9s; /* Agregar una transición suave */
}

.foto img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.foto:hover {
    opacity: 0.8; /* Cambiar la opacidad al hacer hover */
}


.texto_encabezado {
    padding: 20px;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

footer {
    background-color: #121212;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-logo img {
    height: 50px;
    margin-right: 15px;
    color: #FFFFFF;
}

.footer-logo h2 {
    font-size: 24px;
    color: #FFFFFF;
}

.footer-links ul {
    list-style-type: none;
    color: #FFFFFF;
}

.footer-links ul li {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.footer-links ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.footer-social img {
    object-fit: cover;
    width: 40px;
   height: 40px;
}
.footer-social a {
    text-decoration: none;
    margin-right: 10px;
    color: #FFFFFF;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #FFFFFF;
}

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
    /* Redefine estilos para pantallas más pequeñas aquí */
    #menu_pag p {
        font-size: 16px;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    /* Redefine estilos para pantallas aún más pequeñas aquí */
    #menu_pag {
        flex-direction: column;
        align-items: flex-start;
    }

    #menu_pag p {
        font-size: 14px;
    }

    .footer-links ul {
        padding-left: 0;
    }

    .footer-links ul li {
        margin-bottom: 8px;
    }

    .footer-links ul li a {
        font-size: 14px;
    }

    .footer-social a {
        margin-right: 8px;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}