body {
    margin: 0;
    padding: 0;
}
h1, h2, p{
	font-family:Arial, Helvetica, sans-serif;
}

#cabecero {
	height:25em;
	background-color: #A1C878;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
}
#menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
}
#titulo {
	display: flex;
}
#titulo img {
	height: 115px;
}
#menu_pag {
	display: flex;
	width: 20%;
	justify-content: space-between;
}
#contenido_menu {
	width: 30em;
	margin: 5em;
}

#block01 {
	padding: 15px;
	display: grid;
	grid-template-columns: 200px auto; 
	justify-content: center;
}
#block01 img {
	width: 200px;
	border:;
	border-radius: 5px;
}
#block01 div {
	padding: 15px;
	width: 500px;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.contenedor3 div h2 {
    font-weight:700;
}